{% extends 'adminlte/base.html' %}

{% block title %}Изменить кнопку отказа{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">
                    КНОПКА ОТКЛОНЕНИЯ
                    <small>для группового бота</small>
                </h3>
                <div class="pull-right box-tools">
                    <button class="btn btn-info btn-sm" type="button" data-widget="collapse" data-toggle="tooltip"
                            title="" data-origin-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body pad">
                <form role="form" action="{% url 'btn2_create' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}